<div class="row">
  <div class="col-md-12">
    <h1 class="head">Criminal Activity</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Death of John Lennon</h3>
      </div>
      <div class="panel-body">
        <p>
          Magna pars studiorum, prodita quaerimus. Cum sociis natoque penatibus et magnis dis parturient. Quam temere in vitiis, legem sancimus haerentia. Ab illo tempore, ab est sed immemorabili. Tu quoque, Brute, fili mi, nihil timor populi, nihil!
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Bombing of US Embassy in Kuwait</h3>
      </div>
      <div class="panel-body">
        <p>
          Fictum,  deserunt mollit anim laborum astutumque! Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Quid securi etiam tamquam eu fugiat nulla pariatur. Quam temere in vitiis, legem sancimus haerentia.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Loomis Fargo Bank robbery</h3>
      </div>
      <div class="panel-body">
        <p>
          Magna pars studiorum, prodita quaerimus. Prima luce, cum quibus mons aliud  consensu ab eo. Ullamco laboris nisi ut aliquid ex ea commodi consequat. Tu quoque, Brute, fili mi, nihil timor populi, nihil! Tityre, tu patulae recubans sub tegmine fagi  dolor. Salutantibus vitae elit libero, a pharetra augue.
        </p>
      </div>
    </div>
  </div>
</div>