<div class="row">
  <div class="col-md-12">
    <h1 class="head">Criminal Activity</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Death of John Lennon</h3>
      </div>
      <div class="panel-body">
        <p>
          John Lennon was a famous musician and was one of the founders of the Beatles.  He gained fame not only from the Beatles, but also his solo career, and his political activism and pacifism.  He was shot by Mark David Chapman at the entrance of the building he lived in, and was pronounced Dead On Arrival at the Roosevelt Hospital.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Bombing of US Embassy in Kuwait</h3>
      </div>
      <div class="panel-body">
        <p>
          The Kuwait Bombings of 1983 were a series of 6 bombings on important installations on December 12, 1983.  On that day, a truck loaded with 45 large cynliders of gas connected to explosives broke through the front gates of the American Embassy and rammed into the three-story building, destroying almost half the building. 
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Loomis Fargo Bank robbery</h3>
      </div>
      <div class="panel-body">
        <p>
          The Loomis Fargo Bank Robbery was a $17.3 million robbery in Charlotte, North Carolina.  The heist was put on by the armored car driver and vault Supervisor David Scott Ghantt.  The federal investigation resulted in the arrest of 8 people directly involved in the heist, aswell as 16 people indirectly involved. 
        </p>
      </div>
    </div>
  </div>
</div>