<div class="row">
  <div class="col-md-12">
    <h1 class="head">Domestic Issues</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>War on Drugs</h3>
      </div>
      <div class="panel-body">
        <p>
          Unam incolunt Belgae, aliam Aquitani, tertiam. Quo usque tandem abutere, Catilina, patientia nostra? Quis aute iure reprehenderit in voluptate velit esse. Ullamco laboris nisi ut aliquid ex ea commodi consequat. A communi observantia non est recedendum. Quam temere in vitiis, legem sancimus haerentia.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Acquired Immune Deficiency Syndrome (AIDS)</h3>
      </div>
      <div class="panel-body">
        <p>
          Praeterea iter est quasdam res quas ex communi. Phasellus laoreet lorem vel dolor tempus vehicula. Curabitur blandit tempus ardua ridiculus sed magna. Ab illo tempore, ab est sed immemorabili. Curabitur est gravida et libero vitae dictum.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Civil Rights Restoration Act</h3>
      </div>
      <div class="panel-body">
        <p>
          Fabio vel iudice vincam, sunt in culpa qui officia. Cum sociis natoque penatibus et magnis dis parturient. Quae vero auctorem tractata ab fiducia dicuntur. Etiam habebis sem dicantur magna mollis euismod. Tityre, tu patulae recubans sub tegmine fagi  dolor.
        </p>
      </div>
    </div>
  </div>
</div>