<div class="row">
  <div class="col-md-12">
    <h1 class="head">Domestic Issues</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Acquired Immune Deficiency Syndrome (AIDS)</h3>
      </div>
      <div class="panel-body">
        <p>
          Acquired Immune Deficiency Syndrom (AIDS) is a disease in the immune system caused by HIV.  When infected with AIDS, the victim will feel a brief period of influenzia-like illness, and is then after usually followed by a period with no symptoms.  As the disease progresses, it causes the victim to be much more prone to catching infections, which can then no longer be fought off by the immune system.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>War on Drugs</h3>
      </div>
      <div class="panel-body">
        <p>
          The War on Drugs is an American term often used to describe the campaign to prohibit drugs with the intention of ending the illegal drug trade.  The US spends over $51 billion annually on the War on Drugs.  
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Civil Rights Restoration Act</h3>
      </div>
      <div class="panel-body">
        <p>
          The Civil Rights Restoration Act was a US act which specified that people that receive federal funding must comply with civil rights laws in all areas, not just the area of federal funding.  Although Reagan intially vetoed the bill, congress overrode his veto by 73-24 in the Senate and 292-133 in the House.  
        </p>
      </div>
    </div>
  </div>
</div>