<div class="row">
  <div class="col-md-12">
    <h1 class="head">Foreign Affairs</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Rejection of Détente</h3>
      </div>
      <div class="panel-body">
        <p>"Detente" often refers to the easing of tension between the United States and the Soviet Union.  This tension was created during the Cold War, and the two powers have been working to lower the tension.  However, the Detente ended after the Soviet Intervention in Afghanistan.</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Reagan Doctrine</h3>
      </div>
      <div class="panel-body">
        <p>
          The Reagan Doctrine was the plan put together by the United States to fight the influence of the Soviet Union in the years following the Cold War.  Although the doctrine lasted for less than a decade, it was a centerpiece in the United States foreign policy in the early 1980's until the end of the Cold War in 1991.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Fall of the Soviet Union</h3>
      </div>
      <div class="panel-body">
        <p>
          The Union of Soviet Socialist Republics (USSR) no longer existed on December 26 1991.  The political unrest led to the establishment of the Soviet Military and the Communist party of the Soviet Union, and attempted a coup d'etat.  The Fall of the Soviet Union was made official by declaration of no. 142-H of the Soviet of the Republics of the Supreme Court of the Soviet Union, which established independence of the 12 republics.
        </p>
      </div>
    </div>
  </div>
</div>