<div class="row">
  <div class="col-md-12">
    <h1 class="head">Foreign Affairs</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Rejection of Détente</h3>
      </div>
      <div class="panel-body">
        <p>Cum sociis natoque penatibus et magnis dis parturient. Quisque placerat facilisis egestas cillum dolore. Qui ipsorum lingua Celtae, nostra Galli appellantur. Quisque placerat facilisis egestas cillum dolore. Gallia est omnis divisa in partes tres, quarum.</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Reagan Doctrine</h3>
      </div>
      <div class="panel-body">
        <p>
          Mercedem aut nummos unde unde extricat, amaras. Praeterea iter est quasdam res quas ex communi. Magna pars studiorum, prodita quaerimus. Contra legem facit qui id facit quod lex prohibet. Inmensae subtilitatis, obscuris et malesuada fames.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Fall of the Soviet Union</h3>
      </div>
      <div class="panel-body">
        <p>
          Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Magna pars studiorum, prodita quaerimus. Ullamco laboris nisi ut aliquid ex ea commodi consequat. Quo usque tandem abutere, Catilina, patientia nostra? Ambitioni dedisse scripsisse iudicaretur.
        </p>
      </div>
    </div>
  </div>
</div>