<div class="row">
  <div class="col-md-12 well well-sm">
    <h1 class="head">Peter Barnes | 1980's - 2000's Timeline</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2></h2>
  </div>
</div>