<div class="row">
  <div class="col-md-12">
    <h1 class="head">Presidents</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Ronald Reagan</h3>
      </div>
      <div class="panel-body">
        <p>Ronald Reagan was an American actor and politician, and served as the 40th president from 1981 to 1989.  Before his presidency, he was the 33rd governor of California.  During his presidency, Reagan implemented many new political and economic initiatives.  Some of his economic policies, also called "Reaganomics", suggested lowering tax rates to help spur economic growth.  In his first term, he survived an assassination attempt, announced a War on Drugs, and ordered an invasion of Greneda.</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Jimmy Carter</h3>
      </div>
      <div class="panel-body">
        <p>Jimmy Carter is an American Politician and a member of the Democratic party.  He was the 39th president from 1977 to 1981 and was also awarded the 2002 Nobel Peace prize, he was also the only president to ever receive the award after leaving office.  Before his presidency, he was a U.S. Naval officer, and a peanut farmer.  During his administration, he created the Department of Energy and the Department of Education.</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>1980's Election</h3>
      </div>
      <div class="panel-body">
        <p>The Election of 1980 was the 49th quadrennial presidential election.  It was between the current Democratic president Jimmy Carter, the California Governor Ronald Reagan, and Congressman John B. Anderson, who was independent.  Reagan won the election by a landslide due to aid from the Iran Hostage Crisis, and a failing economy. </p>
      </div>
    </div>
  </div>
</div>