<div class="row">
  <div class="col-md-12">
    <h1 class="head">Sports</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Superbowl XXXIV</h3>
      </div>
      <div class="panel-body">
        <p>Idque Caesaris facere voluntate liceret: sese habere. Curabitur blandit tempus ardua ridiculus sed magna. Me non paenitet nullum festiviorem excogitasse ad hoc. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ab illo tempore, ab est sed immemorabili.</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>1980 World Series</h3>
      </div>
      <div class="panel-body">
        <p>
          Idque Caesaris facere voluntate liceret: sese habere. Curabitur blandit tempus ardua ridiculus sed magna. Me non paenitet nullum festiviorem excogitasse ad hoc. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ab illo tempore, ab est sed immemorabili.
        </p>
      </div>
    </div>
  </div>
</div>