<div class="row">
  <div class="col-md-12">
    <h1 class="head">Sports</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>1980 World Series</h3>
      </div>
      <div class="panel-body">
        <p>The World Series of 1980 was held between the Philadelphia Phillies and the Kansas City Royals.  The Phillies won six games and captured first of two World Series titles in the franchise.  The series ended after Game 6 when Tug McGraw striking out Willie Wilson on October 21st, 1980.</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Superbowl XXXIV</h3>
      </div>
      <div class="panel-body">
        <p>
          Superbowl XXXIV was an American Football game held between the St. Louis Rams and the Tennesse Titans to decide the champion of the 1999 season.  The Rams won the game with a score of 26 to 16. 
        </p>
      </div>
    </div>
  </div>
</div>