<div class="row">
  <div class="col-md-12">
    <h1 class="head">Technology</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Apple II Computer</h3>
      </div>
      <div class="panel-body">
        <p>
          Non equidem invideo, miror magis posuere velit aliquet. Tityre, tu patulae recubans sub tegmine fagi  dolor. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Quo usque tandem abutere, Catilina, patientia nostra? Pellentesque habitant morbi tristique senectus et netus.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Graphical User Interface (GUI)</h3>
      </div>
      <div class="panel-body">
        <p>
          Morbi fringilla convallis sapien, id pulvinar odio volutpat. Sed haec quis possit intrepidus aestimare tellus. Prima luce, cum quibus mons aliud  consensu ab eo. Ambitioni dedisse scripsisse iudicaretur. Excepteur sint obcaecat cupiditat non proident culpa.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Compact Discs (CD)</h3>
      </div>
      <div class="panel-body">
        <p>
          Praeterea iter est quasdam res quas ex communi. Quo usque tandem abutere, Catilina, patientia nostra? Ullamco laboris nisi ut aliquid ex ea commodi consequat. Ab illo tempore, ab est sed immemorabili. Non equidem invideo, miror magis posuere velit aliquet. Unam incolunt Belgae, aliam Aquitani, tertiam.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Cable TV</h3>
      </div>
      <div class="panel-body">
        <p>
          Morbi fringilla convallis sapien, id pulvinar odio volutpat. Nihil hic munitissimus habendi senatus locus, nihil horum? Integer legentibus erat a ante historiarum dapibus. Integer legentibus erat a ante historiarum dapibus. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Videogame Systems</h3>
      </div>
      <div class="panel-body">
        <p>
          Plura mihi bona sunt, inclinet, amari petere vellent. Idque Caesaris facere voluntate liceret: sese habere. Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Paullum deliquit, ponderibus modulisque suis ratio utitur. Cum ceteris in veneratione tui montes, nascetur mus. Fictum,  deserunt mollit anim laborum astutumque!
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Cell phones</h3>
      </div>
      <div class="panel-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ullamco laboris nisi ut aliquid ex ea commodi consequat. Me non paenitet nullum festiviorem excogitasse ad hoc. Nec dubitamus multa iter quae et nos invenerat. Tityre, tu patulae recubans sub tegmine fagi  dolor. Praeterea iter est quasdam res quas ex communi.
        </p>
      </div>
    </div>
  </div>
</div>