<div class="row">
  <div class="col-md-12">
    <h1 class="head">Technology</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Graphical User Interface (GUI)</h3>
      </div>
      <div class="panel-body">
        <p>
           The Graphical User Interface (GUI, pronouced "gooey") is a type of interface that allows the end user to interact with a computer through the use of graphicalicons as oppose to the ubiquitous command line interface (CLI) that had been the primary method of computing until the GUI was made popular in 1981.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Cell phones</h3>
      </div>
      <div class="panel-body">
        <p>
            A cell phone is a device that can make and accept telephone calls over a radio link while moving around.  It does this by connecting to a cellular network which is hosted by a mobile phone provider (Verizon, Sprint, AT&T). Cell phones have been a dream in radio engineering, and initially evolved from analog communications between trains, and eventually handheld phones.  Several countries began to adopt mobile phones in the early 1980s.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Compact Discs (CD)</h3>
      </div>
      <div class="panel-body">
        <p>
          Compact Disc(CD) is a form of digital optical disc data storage.  The CD was originally developed to only play back sound recordings but was eventually changed to be generic data storage.  Standard CDs are 120mm and can hold up to 80 minutes of uncompressed audio and about 700mb of data.  While CDs were created in the mid-to-late 1970s, the popularity of the CD spiked when Phillips and Sony teamed together to create commercially available CD players in 1982.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Video game Consoles</h3>
      </div>
      <div class="panel-body">
        <p>
          A Video game console is a device that produces a signal to output a video game.  The term "console" was used to distinguish video game consoles from things such as arcade machines and home computers.  In 1983, Nintendo released the Nintendo Entertainment System (NES) and was the highest selling video game console of the time.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading head">
        <h3>Apple II Computer</h3>
      </div>
      <div class="panel-body">
        <p>
          The Apple II computer series was a set of home computers and was one of the first massively successful microcomputer products.  They were intially designed by Steve Wazniak, and was then manufactured by Apple Computer.  The Apple II focused on ease of use and features and was a significant jump in engineering over its predecesor.
        </p>
      </div>
    </div>
  </div>
</div>